<%- include ('./header.ejs') %>

      <div id="container">
        <img src="<%= bookObject2.image %>" alt="<%= bookObject2.title %>"/>
        <h5> <%= bookObject2.title %></h5>
        <h6> <%= bookObject2.author %></h6>
        <h6> <%= bookObject2.description %></h6>
        <h7> <%= bookObject2.isbn %></h7>
        <a href="/">Return to home</a>
      </div>
<%- include ('./edit.ejs') %>
<%- include ('./footer.ejs') %>
  