<%- include ('./header.ejs') %>

      <p>You have <%= bookObject.length %> books in your collection</p>
      <form action ="/addBook" method="post">
      <% bookObject.forEach(book => { %>
        <div>
           <img src="<%= book.image %>" alt="picture of book"/>
           <h5><%= book.title%></h5>
           <h6><%= book.author %></h6>
           <a href="/books/<%= book.id %>">show details</a>
        </div>
        <% }) %>
      </form>

<%- include ('./footer.ejs') %>